@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $Dekstopwidth/2);
    padding-right: calc(50% - $Dekstopwidth/2);
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 24px;
}


.browse {
    display: flex;
    padding: 8px 26px 8px 15px;
    font-family: Lato;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $Colorblack;
    position: relative;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.fa-caret-down:before {
    position: absolute;
    left: 5px;
    content: "\f0d7";
    top: 7px;
}

.browse-box_list::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background-color: white;
    position: absolute;
    left: 94px;
    top: -8px;
    transform: rotate(45deg);
}


.browse-box {
    position: relative;

    &_list {
        z-index: 1;
        left: -90px;
        position: absolute;
        padding-bottom: 22px;

        background-color: #ffffff;
        border-radius: 5px;
    }

    &_items {
        display: flex;

    }

    &_menu-list {
        display: flex;
        flex-direction: column;
        padding-top: 16px;

    }

    &_item {

        padding-left: 20px;
        text-align: left;
        font-family: Lato;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #4f4f4f;

        &:hover {
            color: $PinkColor;
        }
    }

    &_subtitle {
        padding-left: 15px;
        padding-top: 19px;
        text-align: left;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
    }

    &_stick-menu {
        width: 236px;
        height: 1px;
        background-color: #e8e8e8;
    }

}





.brand {
    padding-left: 13px;
    padding-right: 37px;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $Colorblack;

}

.brand::after {
    content: "d";
    font-weight: 900;
    color: $PinkColor;
}

.header-left {
    display: flex;
    align-items: center;

}

form {
    display: flex;
}

input {
    outline: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding: 8px 159px 8px 16px;
}

.searc {
    border: solid 0.5px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Font Awesome";
    font-size: 14px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    background-color: white;
}

.header-right {
    display: flex;
    padding-left: 230px;
    flex-direction: row;
    align-items: center;
}

.btn-right {
    display: flex;
    border: solid 1px;
    margin-left: 26px;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 7px 29px 7px 19px;
    position: relative;
    background-color: $PinkColor;
}

.Account-box {
    position: relative;

    &_list {
        top: 35px;
        left: -180px;
        padding: 20px 15px 20px 17px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 5px;
    }

    &_stick-menu {

        display: block;
        width: 229px;
        height: 1px;
        background-color: rgba(237, 237, 237, 0.74);
    }

    &_list:hover {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        transition: 0.5s;
    }

    &_subtitle {
        font-family: Lato;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $Colorblack;
    }

    &_menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &_rev {
        display: flex;
        align-items: center;
    }

    &_menu-list {

        padding-left: 14px;
    }

    &_price {
        font-family: Lato;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #f16d7f;
    }

    &_menu-total {
        display: flex;
        justify-content: space-between;
    }

    &_total {
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $Colorblack;
    }

    &_button-top {
        display: block;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 32px;
        padding: 19px 74px;
        color: $PinkColor;
        border: solid 1px;
        background-color: white;

        &:hover {
            background-color: $PinkColor;
            color: $Colorblack;
        }
    }

    &_button-bot {
        display: block;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 11px;
        padding: 18px 70px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        color: #4a4a4a;

        &:hover {
            background-color: #222224;
            color: $PinkColor;
        }
    }
}

.fa-circle-xmark:before {
    color: black;
    content: "\f057";
    margin-left: 30px;

}



.navigation {
    padding-top: 22px;
    padding-bottom: 19px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.menu_list {
    position: relative;
}

.menu_link {

    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $Colorblack;
}

.mega-box {
    padding: 21px 25px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: -20px;
    display: none;

}

.menu-item {
    padding-left: 46px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.menu_list:hover .mega-box {
    display: flex;
}

.mega-box::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background-color: white;
    position: absolute;
    left: 30px;
    top: -9px;
    transform: rotate(45deg);
    border-top: solid 1px #e8e8e8;
    border-left: solid 1px #e8e8e8;

}

.menu-item1 {

    padding-top: 37px;
}

.mega-box_logo {
    margin-top: 22px;
    display: block;
    width: 225px;
    height: 118px;
    background: url(images/rectangle_23_1802.png);
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box::before {
    right: 35px;
    left: auto;
}


.menu-title {
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    margin-bottom: 16px;
}

.mega-link {
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    display: block;

    &:hover {
        color: $PinkColor;
    }
}

.title {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.title-small {
    font-family: Lato;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.main {
    background-color: #e8e8e8;
}

.big-photo {

    height: 665px;
    background: url(images/image_frame_84.png);


}

.stick {
    margin-top: 15px;
    background-color: $PinkColor;
    width: 12px;
    height: 95px;

}


.main-left {
    display: flex;
    gap: 10px;
    padding-left: 220px;
    padding-top: 235px;
}

.title-small::after {
    padding: 10px;
    content: 'FASHION';

    color: $PinkColor;
}



.categories {
    gap: 21px;
    padding-top: 98px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: repeat(3, 261px);
    justify-content: center;
}

.categories-logo {
    grid-row: span 2;
    background: url(images/rectangle_19_1130.png);
}

.categories-logo1 {

    background: url(images/rectangle_19_copy_1136.png);
}

.categories-logo2 {

    background: url(images/rectangle_19_copy_3_1144.png);
}

.categories-logo3 {
    grid-row: span 2;
    background: url(images/rectangle_19_copy_2_1137.png);
}

.categories-logo:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.categories-logo1:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.categories-logo2:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.categories-logo3:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.for {
    display: grid;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.for2 {
    display: grid;
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.for-text::before {
    content: 'hOT dEAL';
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.for-text {
    display: grid;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $PinkColor;
}

.for-text1::before {
    content: '30% offer';

    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.for-text1 {
    display: grid;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $PinkColor;
}

.for-text2::before {
    content: 'LUXIROUS & trendy';

    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.for-text2 {
    display: grid;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $PinkColor;
}

.for-text3::before {
    content: 'new arrivals';

    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.for-text3 {
    display: grid;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $PinkColor;
}

.products-subtitle {
    line-height: .7;
    font-family: Lato;
    font-size: 30px;

    font-weight: 700;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.products-description {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.products-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setka {
    padding-top: 60px;
    padding-bottom: 79px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 261px);
    grid-template-rows: repeat(2, 360px);
    gap: 32px;
}

.product_item {
    height: 280px;
    background: url(images/product_1.png);

}

.product_item1 {
    height: 280px;
    background: url(images/product_2.png);
}

.product {
    position: relative;
}

.product_button1 {
    display: flex;
    align-items: center;
    top: 98px;
    left: 70px;
    position: absolute;
    border: 1px solid white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #f7f3f3;
    background-color: transparent;
    display: none;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;


}

.product_button1:hover {
    border-color: $PinkColor;
    background-color: $PinkColor;
}

.product:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.product:hover .product_button1 {
    display: flex;
}

.product_item2 {
    height: 280px;
    background: url(images/product_3.png);
}

.product_item3 {
    height: 280px;
    background: url(images/product_4.png);
}

.product_item4 {
    height: 280px;
    background: url(images/product_5.png);
}

.product_item5 {
    height: 280px;
    background: url(images/product_6.png);
}

.product_item6 {
    height: 280px;
    background: url(images/product_7.png);
}

.product_item7 {
    height: 280px;
    background: url(images/product_8.png);
}

.product_subtitle {
    padding-top: 19px;
    padding-left: 15px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    color: $Colorblack;
}

.price {
    padding-top: 17px;
    padding-left: 15px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $PinkColor;
}

.product_button {
    border: 1px;
    padding: 3px 25px 3px 24px;
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: $PinkColor;
}

.all_product {
    display: flex;
    justify-content: center;
}

.product_button:hover {
    background-color: $Colorblack;
    color: $PinkColor;
}

.banner {
    display: flex;
    justify-content: center;
    padding-top: 113px;
    padding-bottom: 100px;
}

.banner-left {
    background: url(images/Banner.png);
    width: 767px;
    height: 529px;

    &_text {
        padding-top: 146px;
        padding-left: 39px;
        font-family: Lato;
        font-size: 53.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
    }

    &_text::after {
        content: 'OFFER';
        font-family: Lato;
        font-size: 53.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $PinkColor;
    }

    &_text1 {
        padding-left: 39px;
        font-family: Lato;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
    }


}



.banner-right {

    width: 373px;
    height: 529px;
    background-color: $Colorblack;
}

.text_banner {
    padding-top: 55px;
    padding-left: 36px;
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.text_banner_info {
    padding-left: 111px;
    width: 90%;
    padding-top: 17px;

    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.banner_dsc {
    display: flex;

}

.contact-info {
    display: flex;

    height: 438px;
    background: url(images/fon31.png);
    background-size: cover;
    background-position: bottom;

    background-color: rgba(242, 242, 242, 0.5);
}

.info_lefttext {
    display: flex;
    padding-top: 111px;
    padding-left: 230px;
}

.contact-info_left_text {
    padding-left: 28px;
    width: 80%;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: $Colorblack;
}

.contact-info_left_text1 {

    padding-left: 355px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $PinkColor;
}

.contact-info_left_text1::after {
    content: 'Dhaka, Bd';
    display: block;
    font-family: Lato;
    letter-spacing: 0.025em;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: $Colorblack;
}

.contact-info_left {
    width: 767px;

}

.banner_logo {
    padding-top: 40px;
    padding-left: 33px;
}

.contact-info_left_slide {
    display: flex;
    padding-top: 41px;
    padding-left: 355px;
    gap: 13px;
}

.slide {


    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.slide1 {


    width: 38px;
    height: 4px;
    background-color: $PinkColor;
}

.slide2 {


    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.stick_big {
    margin-left: 72px;
    width: 1px;
    height: 438px;
    background-color: #ffffff;
}

.contact-info_right {
    padding-right: 332px;
    padding-left: 92px;
    padding-top: 148px;
    display: flex;
    width: 767px;
    flex-direction: column;
    align-items: center;
}

.contact-info_right_text {
    font-family: Lato;
    font-size: 24px;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.contact-info_right_text1 {
    padding-bottom: 35px;

    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-transform: none;
}

.input-info {
    outline: none;
    background-color: #e1e1e1;
    border: 1px;
    padding: 9px 200px 9px 28px;

    font-family: Lato;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}

.info-button {
    right: 0;
    margin-left: -50px;
    border: 1px;
    background-color: $PinkColor;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: Lato;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 10px 20px 10px 21px;
}

.info-button:hover {
    background-color: $Colorblack;
    color: $PinkColor;
}

.footer {

    padding-top: 109px;

    &_top {
        padding-bottom: 89px;
        display: flex;
    }

    &_text {
        width: 94%;
        font-family: Lato;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #898989;
    }

    &_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &_contact {
        padding-left: 64px;
        display: flex;
        flex-direction: column;
    }

    &_company-text {
        font-family: Lato;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #f16d7f;
    }

    &_link {
        height: 53px;
        font-family: Lato;
        font-size: 16px;
        line-height: 59px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;

        &:hover {
            color: $PinkColor;
        }
    }

    &_info {
        width: 43%;
        gap: 30px;
        padding-left: 230px;
        display: flex;
        flex-direction: column;
    }

    &_nav {

        display: flex;

    }

    &_information {
        padding-left: 129px;
        display: flex;
        flex-direction: column;
    }

    &_shop {
        padding-left: 80px;
        display: flex;
        flex-direction: column;
    }

    &_bottom {


        display: flex;
        align-items: center;

        background-color: #e6e6e6;
        ;
    }

    &_bottom-info {
        padding-left: 690px;
        display: flex;
        gap: 8px;
    }

    &_bottom-text {
        font-family: Lato;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 230px;
    }

    &_bottom-nav {
        padding: 12px 10px 8px 10px;
        background-color: #ffffff;
    }

    &_bottom-nav:hover {
        background-color: $PinkColor;
    }

}